# String

In [1]:
name : str = "Abdul Basit"
print(name)
print(type(name))
print(id(name))

Abdul Basit
<class 'str'>
1802012207664

In [10]:
name:str = "Abdul Basit"
print(name.upper())
print(name.lower())

ABDUL BASIT
abdul basit

# F String

In [8]:
first_name = "Abdul"
last_name  = "Basit"
full_name  = f"{first_name} {last_name}"
print(full_name)

Abdul Basit

In [15]:
first_name = "Abdul"
last_name  = "Basit"
full_name  = f"{first_name} {last_name}"
print(f"Hello, {full_name.title()}!")

Hello, Abdul Basit!

In [16]:
first_name = "Abdul"
last_name  = "Basit"
full_name  = f"{first_name} {last_name}"
message = f"Hello, {full_name.title()}!"
print(message)

Hello, Abdul Basit!

In [1]:
name : str = "Abdul Basit"
fname : str = "Abdul Dayyan"
roll_number : int = 143
education : str = "Metric"
age: int = 19 

card : str = f"""
PIAIC Student Card
student_Name : {name}
father_Name : {fname}
roll_Number : {roll_number}
Age : {age}
Education : {education}
"""
print(card)

PIAIC Student Card
student_Name : Abdul Basit
father_Name : Abdul Dayyan
roll_Number : 143
Age : 19
Education : Metric

# Explore String methods and attributes

pre-define global function we have ues 

* Print
* type
* id 
* len

In [2]:
a : list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

# Capitalize

In [4]:
name : str = "ABdul BASit"
print(name.capitalize())

Abdul basit

# Format

In [1]:
a = 4 
b = 7
#  {} place holder
#                    0               1          0,1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 4 and value b = 7'

# Casefold

In [1]:
name : str = "ABdul BASit"
print(name)
print(name.casefold())

ABdul BASit
abdul basit

# Stripping Whitespace

In [7]:
name : str = "        ABdul BASit      "
display(name)
display(name.rstrip())

'        ABdul BASit      '

'        ABdul BASit'

In [8]:
name : str = "        ABdul BASit      "
display(name)
display(name.lstrip())

'        ABdul BASit      '

'ABdul BASit      '

In [9]:
name : str = "        ABdul BASit      "
display(name)
display(name.strip())

'        ABdul BASit      '

'ABdul BASit'

In [13]:
import re

name : str = "        ABdul       BASit      "
display(name)
name1 : str = re.sub(' {2,100}','', name).strip()
display(name1)

'        ABdul       BASit      '

'ABdulBASit'

# Title case

In [14]:
name : str = "aBdul bASit"
print(name)
print(name.title())

aBdul bASit
Abdul Basit

# Adding Whitespace to Strings with Tabs or Newlines

* \n
* \t
* \b

In [15]:
print("Name:\t        Abdul Basit")

Name:	        Abdul Basit

In [17]:
print("Name:\t        Abdul Basit")
print("Name:\nAbdul Basit")

Name:	        Abdul Basit
Name:
Abdul Basit

In [19]:
print("Name:\t        Abdul Basit")
print("Name:\nAbdul Basit")
print("Name:\bAbdul Basit")

Name:	        Abdul Basit
Name:
Abdul Basit
NameAbdul Basit

# Removing Prefixes

In [2]:
remov_url : str = "https://sirbasit.com"
remov_url.removeprefix('https://')

'sirbasit.com'

# Naming  convention

In [20]:
1name : str = " Abdul Basit" 
print(1name)

SyntaxError: invalid decimal literal (4225526513.py, line 1)

In [21]:
name1 : str = "Abdul Basit"
print(name1)

Abdul Basit

In [22]:
piaic student name : str = 'Abdul Basit !'
print(piaic student name)

SyntaxError: invalid syntax (1591805853.py, line 1)

In [23]:
piaic_student_name : str = 'Abdul Basit !'
print(piaic_student_name)

Abdul Basit !

# Exercise

In [3]:
# Exercise 2-3: Personal Message

# Define the person's name
name = "Eric"

# Print a message to that person
print(f"Hello {name}, would you like to learn some Python today?")

Hello Eric, would you like to learn some Python today?

In [4]:
# Exercise 2-4: Name Cases

# Define the person's name
name = "Abdul Basit"

# Print the name in lowercase
print(name.lower())

# Print the name in uppercase
print(name.upper())

# Print the name in title case
print(name.title())

abdul basit
ABDUL BASIT
Abdul Basit

In [5]:
# Exercise 2-5: Famous Quote

# Define the quote and its author
quote = "A person who never made a mistake never tried anything new."
author = "Albert Einstein"

# Print the quote and its author
print(f'{author} once said, "{quote}"')

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [6]:
# Exercise 2-6: Famous Quote 2

# Define the famous person's name and the message
famous_person = "Albert Einstein"
message = "A person who never made a mistake never tried anything new."

# Print the message
print(f'{famous_person} once said, "{message}"')

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [7]:
# Exercise 2-7: Stripping Names

# Define the person's name with whitespace characters
name = "\t\n  Eric Idle  \t\n"

# Print the name with whitespace around it
print("With whitespace:", name)

# Print the name using lstrip(), rstrip(), and strip() to remove whitespace
print("Using lstrip():", name.lstrip())
print("Using rstrip():", name.rstrip())
print("Using strip():", name.strip())

With whitespace:
  Eric Idle

Using lstrip(): Eric Idle

Using rstrip():
  Eric Idle
Using strip(): Eric Idle

In [8]:
# Exercise 2-8: File Extensions

# Assign the filename
filename = 'python_notes.txt'

# Display the filename without the file extension
print(filename.removesuffix('.txt'))

python_notes